body {
  background-image: url("sww.jpg");
  background-repeat: repeat;
}

.click-btn {
  display: flex;
  width: $button-width;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: $border-radius;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.toggle-button {
  $btn-color1: #716eef;
  $btn-color2: #fbb8a9;
  $btn-gradient: #c15b44;
  border-color: $btn-color1;
  color: #fff;
  background: repeating-linear-gradient(
    40deg,
    $btn-color1 0%,
    $btn-color1 5%,
    $btn-color2 5%,
    $btn-gradient 10%
  );
  text-shadow: 1px 1px 0em #000;
  &:hover {
    background-position: 120px;
    text-shadow: 2px 2px 0.2em #000;
  }
}
